<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node-project/node-js-getting-started/public/stylesheets/main.css">
    <title>Cons Blog | <%= title %></title>
  </head>