<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Cons Blog</h2>
    <p>
        The conservation blog was made to allow for transparency between conservation departments and the general public alike.
        Our goal is to provide a place for the public to be aware of conservation efforts and also easily comunicate with conservationalist and each 
        other.  Comunication in the community can help spread awareness and also allows the comunity to take action in conservation efforts.
        By becoming aware of issues faster, we hope to be able to address them sooner and we can do that better together then apart.
    </p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>